/*

Color Scheme

Menu: Red








*/

/*----------------------------General Structure of the page -----------------------------------*/
.topmenu {
 margin-left:0px;
 margin-top:0px;
 float:left;
 min-width: 200px;
 width: 100%;
 max-width: 350px;
 border-collapse: collapse;
}

.sidespace{
	margin:0px 5px 0px 0px;
	margin-top:0px;
	float:left;
	vertical-align: top;
	min-height:300px;
	min-width: 00px;
	max-width: 250px;
	width:100%;
	border-top:2px solid #2B67FF;
	border-collapse: collapse;
}


.workspace {
	margin-left:0px;
	margin-top:0px;
	float:left;
	min-height:300px;
	min-width: 200px;
	width:100%;
	max-width: 350px;
	border-top:0px solid #2B67FF;
	border-collapse: collapse;

}

.footer {
	margin-left:0px;
	margin-top:0px;
	float:left;
	width: 100%;
	min-width: 200px;
	max-width: 350px;
	min-height:25px;
	border-top:0px solid #bbb;
	border-collapse: collapse;
	text-align:center;
	}

/* -------------------------Containers----------------------------------------*/
.fullLength{
	float: left;
	margin: 1px auto;
	padding: 2px;
	width: 100%;
	border: 0px solid black;
}

@media(min-width: 800px) {
	.fullLength { min-width:320px; }
}

@media(min-width: 480px) and (max-width: 800px) {
	.fullLength { min-width:480px; }
}

@media(min-width: 150px) and (max-width: 480px) {
	.fullLength{ min-width:150px; }
}

.sidemenu{
	float: left;
	margin: 1px auto;
	padding: 2px;
	width: 100%;
	max-width: 250px;
	border: 2px solid green;
}

.view{
	float: left;
	margin: 3px;
	padding: 5px;
	width: 240px;
	border: 0px solid red;
}

.imgfull{
	float: left;
	margin: 3px;
	padding: 5px;
	}


/* -------------------------Container elements----------------------------------------*/

@media(min-width: 450px) and (max-width: 750px) {


}
@media(min-width: 150px) and (max-width: 450px) {
	.imgfull { display:none;  }

	.flexbox .data {
		float:left;
	}

	.formtitle .label{
		min-width: 40px;
	}
}
/*----------------------------General Structure of the page -----------------------------------*/


