/*

Color Scheme

Menu: Red








*/

/*----------------------------Buttons on the page  -----------------------------------*/
#submit{
	border-style:none;
	background-color:#244188;
	padding: 6px 12px 6px 14px;
	font: bold 12px helvetica;
	color: #FFF;
}

#unSubmit{
	border-style:none;
	background-color:#D7D7E1;
	padding: 8px 12px 8px 14px;
	height: 34px;
	font: bold 12px helvetica;
	color: #2B67FF;
}

.editSubmit{
	border-style:none;
	background-color:#2B67FF;
	padding: 2px 10px 3px 10px;
	height: 24px;
	font: bold 12px helvetica;
	color: #FFF;
}
.postSubmit{
	border-style:none;
	border:0px solid #ff2596;
	font:bold 14px arial;
	min-height: 29px;
	padding: 2px 10px 3px 10px;
	text-decoration:none;
	text-align:center;
	display:inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #FFFFFF;
	background-color: #66C100;
}

.deleteSubmit{
	border-style:none;
	border:0px solid #ff2596;
	font:bold 14px arial;
	min-height: 29px;
	padding: 4px 12px 6px 12px;
	margin: 4px 12px 6px 12px;
	text-decoration:none;
	text-align:center;
	display:inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #FFFFFF;
	background-color: #FF0000;
}


.buttonSubmit{

	border:0px solid #ff2596;
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-style: bold;
	font-size: 16px;
	letter-spacing: 1.25px;
	line-height: 1.5;
	margin: 5px;
	padding: 5px 20px 5px 20px;
	text-decoration:none;
	text-align:center;
	display:inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #FFFFFF;
	background-color: #00aa2f;
}


.buttonSubmit:hover{

	font-family: "Helvetica Neue",Arial,sans-serif;
	font-style: bold;
	font-size: 16px;
	letter-spacing: 1.25px;
    line-height: 1.5;
    	margin: 5px;
	padding: 5px 20px 5px 20px;
	text-decoration:none;
	text-align:center;
	display:inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #000;
	background-color: #f2dd00;
}

.buttonLink{
	border-style:none;
	border:0px solid #ff2596;
	font:bold 12px helvetica;
	padding: 5px 5px 5px 6px;
	text-decoration:none;
	text-align:center;
	display:inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #FFFFFF;
	background-color: #000
}


.buttonLink:hover{
	border-style:none;
	border:0px solid #ff2596;
	font:bold 12px helvetica;
	padding: 5px 5px 5px 6px;
	text-decoration:none;
	text-align:center;
	display:inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color:#ffffff ;
	background-color:#A511C8 ;
}



/* -------------------------Fonts and Texts----------------------------------------*/
.title{
  font: bold 14px helvetica;
  color:#116466;
  text-align:center;
}


.header{
 	color: #444444;
 	font-family: 'Lato', sans-serif;
 	font-size: 34px;
 	font-weight: 300;
 	line-height: 48px;
 	text-align: center;
 	width: 100%;
 	margin: 0 0 18px;
}

.header1{
  font: bold 30px helvetica;
  color: #66C100;
  text-align:center;
  width: 100%;
  display:inline-block;
}

.header2{
  font: bold 20px helvetica;
  color: #D21333;
  text-align:center;
  display:inline-block;
  width: 100%;
}

.header3{
  font: bold 15px helvetica;
  color: #66C100;
  text-align:center;
  display:inline-block;
}

.header4{
	font: bold 26px helvetica;
	color: #0092CD;
	text-align: center;
	padding: 12px 0px 12px 0px;
}


.header5{
  font: bold 12px helvetica;
  color: #0092CD;
  text-align:left;
  display:inline-block;
}

flat {
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px $color;
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: darken($color, 20%);
  &:focus, &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      color: $color;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important;
    }
  }
}

.edit th{
  font: normal 14px helvetica;
  color:#000;
  text-align:right;
}

.text{
	font-family: 'Enriqueta', arial, serif; line-height: 1.25; margin: 10px 0 5px; font-size: 16px; font-weight: normal;
}

.message {
	float: left;
	padding: 4px;
	width: 100%;
	background-color: #FDF856;
	font: normal 12px arial;
	text-align: center;
	color: #000;
}


/* -------------------------Container elements----------------------------------------*/

@media(min-width: 450px) and (max-width: 750px) {


}
@media(min-width: 150px) and (max-width: 450px) {
	.imgfull { display:none;  }

	.flexbox .data {
		float:left;
	}

	.formtitle .label{
		min-width: 40px;
	}
}
/*----------------------------General Structure of the page -----------------------------------*/
.img-right{
	float: left;
}

.dropDown{
	float:left;
	font: normal 12px arial;
	list-style:none;
	margin:0;
	padding:0;
	width:200px;
}
.dropDown li{
	padding: 10px;
	background:#FAFAFA;
	border-bottom:1px green solid;}

.dropDown li:hover{
		background:#F0F0F0;
	}




.container {
	text-align: center;
	position:relative;
	vertical-align:middle;
	display:table-cell;
	height: 400px;
}

.inner {
	width: 100%;
	height: 100%;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	border:0px solid #000;

}


/* -------------------------End of Menu CSS----------------------------------------*/
.stafflist{
	float:left;
	font: normal 12px arial;
	list-style:none;
	margin:0;
	padding:0;
	width:300px;
}
.stafflist li{
	padding: 10px;
	background:#FAFAFA;
	border-bottom:1px green solid;}

.stafflist li:hover{
		background:#F0F0F0;
	}

#search-box{
	padding: 1px;
	border: 1px #000000  solid;
}


.view	{
	float: left;
	margin: 1px auto;
	padding: 2px;
	width: 100%;
	border: 1px solid green;
	}


.view .holder{
	min-width:200px;
	max-width:350px;
	display: inline-block;
	margin:2px;
	padding:1px;
	border: 0px solid #555555;
	text-align: left;
}


.view .label{
	display: inline-block;
  font: normal 15px helvetica;
  color:#244188;
  text-align:left;
  border: 0px solid #555555;
  padding: 3px 0px 3px 3px;
}

.view .data{
	display: inline-block;
	font: bold 14px 'arial';
	text-align:left;
	color: #000;
	width:100%;
	border: 0px solid #555555;
	padding: 3px 0px 3px 3px;
}

.formtitle{
  font: bold 14px helvetica;
  color:#458135;
  margin: 2px;
  text-align:center;
  width:18%;
  height:30px;
  min-width:60px;
  border: 0px solid red;
}


.flex .formtitle{
	float: left;
}

.data{
	font: bold 13px 'Arial';
	text-align:left;
	color: #000;
	min-height:20px;
}

.data input{
	border-style: none;
	border: solid 1px #120041;
	height: 25px;
	min-width: 120px;
	max-width: 180px;
	margin:3px;
}

.view .data-wide {
	border-style: none;
	border: solid 0px #120041;
	height: 25px;
	width: 400px;
	margin:3px;
}


.img-right{
	width: 100%;
	text-align: center;
	margin: 4px 0px 12px 0px;
}

.img-share{
	width: 100%;
	text-align: center;
	margin: 4px 0px 12px 0px;

}






